{% extends "base.html" %}
{% block content %}



<body>
    </body>
</head>
<br>
<br>
<br>
</div>
</head>

  <div style="background-color:white; opacity:0.8; border: 3px lightblue dotted; padding:10px 10px;" class="container">
      <div class="title" style="font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;">
      <h1>Create Blog Post</h1>
      <br>
    <form class="form-group" method="POST">
      {{form.hidden_tag()}}

      <div style= "font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;" class="form-group">
        {{form.title.label(class="form-control-label")}}
        {{form.title(class="form-control form-control-lg")}}
      </div>
      <div style= "font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;" class="form-group">
        {{form.text.label(class="form-control-label")}}
        {{form.text(class="form-control form-control-lg")}}
      </div>
      <div style= "font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;" class="form-group">
        {{form.submit(class="btn btn-outline-info")}}
      </div>

    </form>
  </div>

<style>
    body {
        
        background: rgb(206,231,255);
        background: linear-gradient(90deg, rgba(206,231,255,1) 0%, rgba(210,248,255,0.861782212885154) 35%, rgba(233,255,248,1) 100%);
    }
    </style>



{% endblock %}
