{% extends "base.html" %}
{% block content %}

<html>
    <head>

        <link rel="stylesheet" type = "text/css" href = static/styles/info.css>

         
    </head>
<div class="containerback">
    </div>

  <div class="reviewtext jumbotron" style="font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;background-color:transparent; text-align: center; height: 300px; margin-top:100px; width:800px; margin-left:175px;">
    <img src="static/profile_pics/icon_edited.png" style="
                   display:block;
                   margin:auto;
                   background-color: white;
                   width:700px;height:250px;
                   ">
                   <a style="font-size:7px; margin-left:-700px;top:-100px; "href="https://www.vecteezy.com/free-vector/friend">Friend Vectors by Vecteezy</a>
    <h1><strong>How can I find a roommate?</strong></h1>
    <br>
    <p>
    Glad you asked!
    <br>
    <br>
    Welcome to Find Your Roommate! Made by and for Duke students. Whether you are a freshman or senior, we are home to a database of students looking for roommates. Why bother yourself by scouring through the endless Duke Facebook posts or hoping to get a response from a DukeList ad? Here at Find Your Roommate, we have all the resources you need in a centralized location.
    <br>
    <br>
    Register an account with us, fill out your preferences, and you will be able to find your closest roommate matches.
    </p>
  </div>
  
  <body>
      </body>
  
  
  <style>
  
  .containerback {
      position: absolute;
      margin-right:50px;
      margin-left:50px;
      margin-top: 20px;
      width: 1000px;
      height: 700px;
      background-color: white;
      z-index: -5;
      opacity: 0.8;
      border: 3px lightblue dotted;
  }
  
  
      </style>
  
</html>
{% endblock %}
