{% extends "base.html" %}
{% block content %}

<br>
<br>
<br>

  <div style="background-color:white; opacity:0.8; border: 3px lightblue dotted; font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;" class="jumbotron">
    <h1 style="color:#003087"><strong>Find Your Roommate</strong></h1>
    <p>From our algorithm, these following students are great roommate matches for you. </p>
    <img src="static/profile_pics/x.png" style=" width:20%; height:20%; margin-left:800px; margin-top:-125px;">
        <a style="font-size:7px; margin-left:800px; "href="https://www.vecteezy.com/free-vector/friend">Friend Vectors by Vecteezy</a>
  </div>

<body>
    </body>

  <div style="font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;" class="container">

      <div style="background-color:white; opacity:0.8; border:3px lightblue dotted;">
      <h3 style="color:#003087"><strong>Filter Results:</strong></h3>
      <br>
    <form  method="POST" action="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="row">
          
        <div class="form-group col-xs-6" style="margin-left:20px;">
          {{form.year_from.label(class="form-group") }}
        </div>
        
        <div style="margin-left:10px;">
          {{form.year_from(class='form-control')  }}
        </div>
        
        <div class="form-group col-xs-6" style="margin-left:10px;">
          {{form.year_to.label(class="form-group") }}
        </div>
        <div style="margin-left:10px;">
          {{form.year_to(class='form-control')  }}
        </div>
        <br>
		  <br>
		  <br>
        <div class="form-group col-xs-6" style="margin-left:10px;">
          {{form.sleeping_from.label(class="form-group") }}
          </div>
        <div style="margin-left:10px;">
          {{form.sleeping_from(class='form-control')  }}
        </div>
        
        <div class="form-group col-xs-6" style="margin-left:10px;">
          {{form.sleeping_to.label(class="form-group") }}
          </div>
        <div style="margin-left:10px;">
          {{form.sleeping_to(class='form-control')  }}
        </div>
        
        <div class="form-group col-xs-6" style="margin-left:20px;">
          {{form.waking_from.label(class="form-group") }}
          </div>
        <div style="margin-left:10px;">
          {{form.waking_from(class='form-control')  }}
        </div>
        
        <div class="form-group col-xs-6" style="margin-left:10px;">
          {{form.waking_to.label(class="form-group") }}
          </div>
        <div style="margin-left:10px;">
          {{form.waking_to(class='form-control')  }}
        </div>
        
        <div style="margin-left:10px;" class="form-group col-xs-6">
            {{ form.submit(class="btn btn-primary") }}
        </div>
      </div>
    </form>
    </div>
      <br>

    {% for user in users %}

    <div class="card" >

      <div class="card-body">


        <h2><a class="card-title" href="  {{ url_for('users.user_posts', netid=user[0]) }}">{{ user[1] }}</a></h2>
        <p>NetID: {{ user[0] }}</p>
        <p>Similarity: {{ user[2] }}</p>
      </div>
    </div>

    
    
<style>
    
    
    </style>
   {% endfor %}





{% endblock %}
