{% extends "base.html" %}
{% block content %}
<div style="margin-top:50px; background-color: white; border: 3px dotted lightblue; opacity:0.8;"class="container">
  <div style="background-color:transparent !important;"class="jumbotron">
    <div style="font-weight:bold;font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;"align='center'>
      <h1>Welcome to the profile page for {{user.name}}!</h1>
      <img src="{{url_for('static',filename='profile_pics/'+user.profile_image)}}" >
          <br>
          <br>
          <h2 style="color:#003087"align="left"><strong>Basic Information:</strong></h2>
    </div>
    <div style="font-family: Gill Sans,Gill Sans MT,Calibri,sans-serif;">
      <h3>Name: {{user.name}}</h3>
      <h3>Gender: {{user.gender}}</h3>
      <h3>Year: {{user.year}}</h3>
      <h3>Smoking? {{user.smoking}}</h3>
      <h3>Sleeping Time: {{user.sleeping}}</h3>
      <h3>Waking Time: {{user.waking}}</h3>
      <h3>Room Utility: {{user.room_utility}}</h3>
      <h3>On Campus? {{user.on_campus}}</h3>
      {% for house in houses  %}
        <h3>{{ house }}</h3>
      {% endfor %}
      {% for major in majors  %}
        <h3>{{ major }}</h3>
      {% endfor %}
    </div>

  </div>

  <h3>Blog Posts:</h3>
  <br>
{% for post in blog_posts.items  %}
  <h2> <a href="{{url_for('blog_posts.blog_post',blog_post_id=post.id)}}">{{post.title}}</a> </h2>
  Written By: <a href="{{url_for('users.user_posts',netid=post.author.netid)}}">{{post.author.netid}}</a>
  <p class='text-muted'>Published on: {{post.date.strftime("%Y-%m-%d")}}</p>
   <br>
   <p>{{post.text}}</p>
   <br>
{% endfor %}
</div>

<nav aria-label='Page Navigation example'>
  <ul class="pagination justify-content-center">
    {% for page_num in blog_posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2)  %}
      {% if page_num %}
        {% if blog_posts.page == page_num %}
        <li class='page-item disabled'>
          <a class="page-link" href="{{url_for('users.user_posts',netid=user.netid,page=page_num)}}">{{ page_num}}</a>
        </li>
        {% else %}
        <li class='page-item'>
          <a class="page-link" href="{{url_for('users.user_posts',netid=user.netid,page=page_num)}}">{{ page_num}}</a>
        </li>
        {% endif %}
      {% else %}
        <span class="page-link">…</span>
      {% endif %}
    {% endfor %}
  </ul>

</nav>




{% endblock %}
