{% extends "base.html" %}
{% block content %}

<body>
    </body>
</head>
<br>
<br>
<h1>Create Blog Post</h1>
<br>
</head>

  <div class="container">
    <form class="form-group" method="POST">
      {{form.hidden_tag()}}

      <div class="form-group">
        {{form.title.label(class="form-control-label")}}
        {{form.title(class="form-control form-control-lg")}}
      </div>
      <div class="form-group">
        {{form.text.label(class="form-control-label")}}
        {{form.text(class="form-control form-control-lg")}}
      </div>
      <div class="form-group">
        {{form.submit(class="btn btn-outline-info")}}
      </div>

    </form>
  </div>

<style>
    body {
        
        background-image: url(static/profile_pics/back.jpg);
        background-size: 100% 200%;
    }
    </style>



{% endblock %}
