{% extends "base.html" %}
{% block content %}

<html>

    <head>
        <img src="https://lh3.googleusercontent.com/PCJwlNcqfYBTmDQYKqC_s7WmSYBVhIIKhpDmhj7araBEtZq8wLsOkXcAdUzTCaxVRJKWfgbsZA6VzInL9_H4uMna3xJCeoNEHino-hwE_7dKD5qFplYjcqKjerqMDoUmcSJ5m_7sWHi4egZ4JsQpdnvUGkl28x8SQXw5ovr4Uay_31aeU8QkL0UU925HOfzPMareNZjIFMZ2vksXYZFNbEbMWFIFyNrMlRby_kwJH8iIzwGtmHRrHe5vcf7Tqegbh6g5M3L-VASOwTPKTUKCe8HkTq4HW6NGyXviPDdUaHrYxKrB0z6J1jJ8k7YZ2rBZtmYyoX-72IRZb-GWnaVrG7ZnGP0yV_U2m0ww2cKmjJ7AyjXllLNNPbix2enuRoO_PcDQQ9dqZqChUz-10ovrStxo3SfysOyhAU7Gr5QrBu4imi2wR8fvCosaV9grI2kOnOzqnABGNHkSic34jlSh9pRyUACB0uoj2ZnHotsI7bkdK7eznIaViOdF09sHIiXYE5O665EgUTcHufBlZjK4NqpM9kNRDApjUmApNshaNmbdd6W8oyRUpL9ILgLhCpgJcQS_-pAOJvgi0NzuQsxuOllIvSYiJSpI9SqwVIwVXdQATpN9i-n-hWhGhIAwVKqAlc8axs2jPILT2QQgtZs1D-RAR_NUnKeXss00PP3_0oE4UosemtNHaTPVXKJn=w2208-h788-no" style="width:700px;height:250px;position:relative;top:50px;">

    </head>
    
  <div style="background:transparent !important" class="jumbotron"/>
  <p>Welcome to Find Your Roommate. We help match you to a new roommate right here at Duke!</p>
  </div>

  <div class="container">

    {% for post in blog_posts.items %}
    <div class="card" >

      <div class="card-body">


        <h2><a class="card-title" href="  {{ url_for('blog_posts.blog_post', blog_post_id=post.id) }}">{{ post.title }}</a></h2>
        <a href="{{ url_for('users.user_posts', netid=post.author.netid) }}">Written By: {{ post.author.netid }}</a>
        <p>Published on: {{ post.date.strftime('%Y-%m-%d') }}</p>
        <p class="card-text">{{ post.text[:100] }}...</p>
        <a href="{{ url_for('blog_posts.blog_post', blog_post_id=post.id) }}" class="btn btn-primary">Read Blog Post</a>
      </div>
    </div>

   {% endfor %}

   <nav aria-label="Page navigation example">
     <ul class="pagination justify-content-center">
       {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
          {% if blog_posts.page == page_num %}
          <li class="page-item disabled">
            <a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a>
          </li>
          {% else %}
            <li class="page-item"><a class="page-link" href="{{ url_for('core.index', page=page_num) }}">{{ page_num }}</a></li>
          {% endif %}
      {% endfor %}
    </nav>



{% endblock %}
