{% extends "base.html" %}
{% block content %}
<html>
    <head>
        <link rel = "stylesheet" type = "text/css" href=static/styles/info.css>
        </head>
  <div class="jumbotron">
    <h1>How can I find a roommate?</h1>
    <br>
    <br>
    <p>
    Glad you asked!
    <br>
    <br>
    Welcome to Find Your Roommate! Made for and for Duke students. Whether you are a freshman or senior, we are home to a database of students looking for roommates.
    <br>
    <br>
    Register an account with us, fill out your preferences, and you will be able to find your closest roommate matches.
    </p>
  </div>
</html>
{% endblock %}
