{% extends "base.html" %}
{% block content %}
<html>
    <head>

        <link rel="stylesheet" type = "text/css" href = static/styles/info.css>

         <img src="static/profile_pics/icon_edited.png" style="
                   background-color: lightyellow;
                   background-position: center;
                   width:700px;height:250px;position:relative;right:-150px;top:50px;
                   position:relative;
                   margin:0px 50px;
                   ">
    </head>
<div class="containerback">
    </div>

  <div class="reviewtext jumbotron" style="margin-top: 100px; background-color: papayawhip; text-align: center; height: 400px;">
    <h1><strong>How can I find a roommate?</strong></h1>
    <br>
    <br>
    <p>
    Glad you asked!
    <br>
    <br>
    Welcome to Find Your Roommate! Made by and for Duke students. Whether you are a freshman or senior, we are home to a database of students looking for roommates.
    <br>
    <br>
    Register an account with us, fill out your preferences, and you will be able to find your closest roommate matches.
    </p>
  </div>
  
  <body>
      </body>
  
  
  <style>
      body{
      background-image: url(static/profile_pics/back.jpg);
      background-size: 100% 100%;
      }
  
  .containerback {
      position: absolute;
      margin-right:10px;
      margin-left:-50px;
      margin-top: -220px;
      width: 1200px;
      height: 740px;
      background-color: white;
      z-index: -5;
      opacity: 0.8;
      border: 1px grey solid;
  }
  
  
      </style>
  
</html>
{% endblock %}
