{% extends "base.html" %}
{% block content %}
<html>
    <head>

        <link rel="stylesheet" type = "text/css" href = static/styles/info.css>

         <img src="static/profile_pics/icon_edited.png" style="
                   background-color: lightyellow;
                   background-position: center;
                   width:700px;height:250px;position:relative;right:-200px;top:50px;
                   position:relative;
                   margin:0px 50px;
                   ">
    </head>
  <div class="reviewtext jumbotron" style="margin-top: 100px; background-color: papayawhip; text-align: center">
    <h1><strong>How can I find a roommate?</strong></h1>
    <br>
    <br>
    <p>
    Glad you asked!
    <br>
    <br>
    Welcome to Find Your Roommate! Made by and for Duke students. Whether you are a freshman or senior, we are home to a database of students looking for roommates.
    <br>
    <br>
    Register an account with us, fill out your preferences, and you will be able to find your closest roommate matches.
    </p>
  </div>
</html>
{% endblock %}
