{% extends "base.html" %}
{% block content %}

  <div class="jumbotron">
    <h1>Find Your Roommate</h1>
    <p>The roommates picked just for you</p>
  </div>

<body style="background:linear-gradient(#e6ffff, white) !important;">
    </body>

  <div class="container">

    <form  method="POST" action="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="form-group col-xs-6">
          {{form.year_from.label(class="form-group") }}
          {{form.year_from(class='form-control')  }}
        </div>
        <div class="form-group col-xs-6">
          {{form.year_to.label(class="form-group") }}
          {{form.year_to(class='form-control')  }}
        </div>
        <div class="form-group col-xs-6">
          {{form.sleeping_from.label(class="form-group") }}
          {{form.sleeping_from(class='form-control')  }}
        </div>
        <div class="form-group col-xs-6">
          {{form.sleeping_to.label(class="form-group") }}
          {{form.sleeping_to(class='form-control')  }}
        </div>
        <div class="form-group col-xs-6">
          {{form.waking_from.label(class="form-group") }}
          {{form.waking_from(class='form-control')  }}
        </div>
        <div class="form-group col-xs-6">
          {{form.waking_to.label(class="form-group") }}
          {{form.waking_to(class='form-control')  }}
        </div>
        <div class="form-group col-xs-6">
            {{ form.submit(class="btn btn-primary") }}
        </div>
      </div>
    </form>

    {% for user in users %}

    <div class="card" >

      <div class="card-body">


        <h2><a class="card-title" href="  {{ url_for('users.user_posts', netid=user[0]) }}">{{ user[1] }}</a></h2>
        <p>NetID: {{ user[0] }}</p>
        <p>Similarity: {{ user[2] }}</p>
      </div>
    </div>

   {% endfor %}





{% endblock %}
