{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1>Find Your Roommate</h1>
    <p>The roommates picked just for you</p>
  </div>

  <div class="container">

    {% for user in users %}

    <div class="card" >

      <div class="card-body">


        <h2><a class="card-title" href="  {{ url_for('users.user_posts', netid=user[1]) }}">{{ user[1] }}</a></h2>
        <p>NetID: {{ user[0] }}</p>
        <p>Similarity: {{ user[2] }}</p>
      </div>
    </div>

   {% endfor %}





{% endblock %}
