{% extends "base.html" %}
{% block content %}

<html>
    
<head>
    <link rel = "stylesheet" type = "text/css" href= static/styles/registerversion3.css>
</head>
<body>
  <form method="POST">
    <h1>Registration</h1>
    {{form.hidden_tag()}}
    {{form.netid.label}}
    <br>
    {{form.netid()}}
    <br>
    {% for error in form.netid.errors %}
           <span style="color: red;">[{‌{ error }}]</span>
    {% endfor %}<br>
    {{form.password.label}}
    <br>
    {{form.password()}}
    <br>
    {% for error in form.password.errors %}
           <span style="color: red;">[{‌{ error }}]</span>
    {% endfor %}<br>
    {{form.pass_confirm.label}}
    <br>
    {{form.pass_confirm}}
    <br>
    
    {% for error in form.pass_confirm.errors %}
           <span style="color: red;">[{‌{ error }}]</span>
    {% endfor %}<br>
    {{form.name.label}}
    <br>
    {{form.name}}
    <br>
    {% for error in form.name.errors %}
           <span style="color: red;">[{‌{ error }}]</span>
    {% endfor %}<br>
    {{form.gender.label}}
    <br>
    {{form.gender}}
    <br>
    {% for error in form.gender.errors %}
           <span style="color: red;">[{‌{ error }}]</span>
    {% endfor %}<br>
    {{form.year.label}}
    <br>
    {{form.year}}
    <br>
    {% for error in form.year.errors %}
           <span style="color: red;">[{‌{ error }}]</span>
    {% endfor %}<br>
    {{form.smoking.label}}
    <br>
    {{form.smoking}}
    <br>
    
    {% for error in form.smoking.errors %}
           <span style="color: red;">[{‌{ error }}]</span>
    {% endfor %}<br>
    {{form.sleeping.label}}
    <br>
    {{form.sleeping}}
    <br>
    
    {% for error in form.sleeping.errors %}
           <span style="color: red;">[{‌{ error }}]</span>
    {% endfor %}<br>
    {{form.waking.label}}
    <br>
    {{form.waking}}
    <br>
    
    {% for error in form.waking.errors %}
           <span style="color: red;">[{‌{ error }}]</span>
    {% endfor %}<br>
    {{form.room_utility.label}}
    <br>
    {{form.room_utility}}
    <br>
    
    {% for error in form.room_utility.errors %}
           <span style="color: red;">[{‌{ error }}]</span>
    {% endfor %}<br>
    {{form.on_campus.label}}
    <br>
    {{form.on_campus}}
    
    <br>
    
    {% for error in form.on_campus.errors %}
           <span style="color: red;">[{‌{ error }}]</span>
    {% endfor %}<br>
    
    <br>
    
    {{form.submit()}}
  </form>
  <br>
</body>
<br>
<br>

</html>
{% endblock %}
